html {
    font-size: 10px;
}

::-webkit-input-placeholder {
    color:rgba(92, 95, 102, 1);
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    background: url("../../images/fullscreen.jpg") 20% / cover no-repeat;
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}