//$primary-color: #79f5f1db;
$card-color: linear-gradient(
  to top right,
  rgb(0, 0, 0),
  rgb(13, 15, 14),
  rgb(25, 29, 27),
  rgb(38, 44, 41),
  rgb(51, 59, 55),
  rgb(64, 73, 68),
  rgb(76, 88, 82),
  rgb(89, 102, 95),
  rgb(102, 117, 109),
  rgb(115, 132, 123),
  rgb(127, 146, 136),
  rgb(140, 161, 150)
);
$color-pressed: rgb(76, 88, 82);
$button-color: linear-gradient(
  to bottom,
  rgb(222, 154, 76),
  rgb(204, 142, 71),
  rgb(186, 130, 66),
  rgb(168, 118, 62),
  rgb(150, 106, 57),
  rgb(132, 94, 52),
  rgb(113, 83, 47),
  rgb(95, 71, 42),
  rgb(77, 59, 37),
  rgb(59, 47, 33),
  rgb(41, 35, 28),
  rgb(23, 23, 23)
);
