#todo {
    background: linear-gradient(230deg, #fff3cb 42%, #ffdc69 112%);

    .discription-header {
        background: #ffc40098;
        border-radius: 10px 10px 0 0;
    }
}

#progress {
    background: linear-gradient(230deg, #ffd8d8 42%, #ffa6a6 112%);

    .discription-header {
        background: #ff000098;
        border-radius: 10px 10px 0 0;
    }
}

#done {
    background: linear-gradient(230deg, #eeffd8 42%, #c8ff80 112%);

    .discription-header {
        background: #91ff0098;
        border-radius: 10px 10px 0 0;
    }
}