.column-done {
  display: flex;
  flex-direction: column;
  background: $card-color;
  opacity: 0.94;
  width: 35rem;
  border-radius: 0.5rem;

  &__title {
    font-size: 2rem;
    color: rgba(12, 30, 74, 1);
    font-family: "Roboto", sans-serif;
    margin-bottom: 1rem;
    margin: 1rem 0 1rem 3.5rem;
  }

  // &__card-container {
  // }

  &__btn-done--delete {
    position: relative;
    margin-bottom: 0.5rem;
    margin-left: 2.5rem;
    padding: 0.5rem 0.25rem 0.5rem 0rem;
    width: 15rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    color: #000;
    outline: none;
    border: 1px solid rgba(110, 121, 128, 0.8);
    border-top-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    background: #d2dfea linear-gradient($primary-color, #bce0ec);

    &:hover {
      @include hover-button;
    }

    &:active {
      @include active-button;
    }

    &::before {
      content: "\f067";
      position: absolute;
      left: 1rem;
      font-family: FontAwesome;
      color: rgba(92, 95, 102, 1);
    }
  }
}
