.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  //transition: all 0.8s ease 0s;

  &._open {
    opacity: 1;
    visibility: visible;
    transition: all 0.8s ease 0s;
  }

  &__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em 1em;
    transition: all 0.8s ease 0s;
  }

  &__content {
    position: relative;
    background: linear-gradient(
      to bottom left,
      rgb(138, 138, 45),
      rgb(127, 127, 41),
      rgb(117, 116, 38),
      rgb(106, 104, 34),
      rgb(95, 93, 30),
      rgb(84, 82, 26),
      rgb(74, 71, 23),
      rgb(63, 60, 19),
      rgb(52, 49, 15),
      rgb(41, 37, 11),
      rgb(31, 26, 8),
      rgb(20, 15, 4)
    );
    color: black;
    max-width: 80rem;
    padding: 3em;
    border-radius: 1em;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);

    &._open-cont {
      transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
      opacity: 1;
    }
  }

  // .popup__title

  &__title {
    background: rgb(255, 255, 255);
    border-radius: 0.3em;
    width: 100%;
    padding: 1em;
    margin: 1em 0 0;
  }

  // .popup__description

  &__description {
    background: rgb(255, 255, 255);
    border-radius: 0.3em;
    width: 100%;
    padding: 1em;
    margin: 1em 0 2em;
  }

  // .popup__footer

  //&__footer {}

  // .popup__user

  //&__user {}

  // .popup__btn-add

  &__btn-add {
    position: relative;
    display: inline-block;
    width: 6em;
    height: 2.5em;
    line-height: 2.4em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    user-select: none;
    color: rgb(255, 255, 255);
    outline: none;
    border: 1px solid rgba(110, 121, 128, 0.8);
    border-top-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    background: $button-color;
  }

  &__btn-add:hover {
    @include hover-button;
  }

  &__btn-add:active {
    @include active-button;
  }

  // .popup__btn-close

  &__btn-close {
    position: relative;
    display: inline-block;
    width: 6em;
    height: 2.5em;
    line-height: 2.4em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    user-select: none;
    color: rgb(255, 255, 255);
    outline: none;
    border: 0.1rem solid rgba(110, 121, 128, 0.8);
    border-top-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    background: $button-color;
  }

  &__btn-close:hover {
    @include hover-button;
  }

  &__btn-close:active {
    @include active-button;
  }
}
